@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
  

  
.bgContainer {
  background-image: linear-gradient(#cc2b5e,#753a88);
  height: 100vh;
  padding-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.heading {
  font-size: 2em;
  text-align: center;
  font-family:'Bree Serif';
  color: antiquewhite;
  margin-top: 20px;
}

.QuizQuestion {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  font-family:'Bree Serif';
  color: antiquewhite;

}
.QuizEnd {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
.QuizEnd a {
  display: block;
  padding-top: 20px;
}
ul {
  padding: 0;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
button {
  margin: 0.6em auto;
  font-size: 1.5em;
  display: block;
}
.error {
  color: red;
  font-weight: 700;
  font-size: 18px;
}

.button_list {
  list-style-type: none;
}


.option {
  border-radius: 8px;
  font-family:'Bree Serif';
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 23px;
  color: antiquewhite;
  padding: 15px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 15px;
}

.option:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.option:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.option_list {
  display: flex;
}

.error_text {
  display: flex;
  justify-content: center;
}

.quiz_end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.thanks {
  color: antiquewhite;
  font-size: 20px;
  font-family: "Bree Serif";
}

.anchor {
  height: 30px;
  width: 120px;
  background-color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  font-family: "Bree Serif";
}